@import "tailwindcss";
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}
.expense-list::-webkit-scrollbar{
   height: 0;
   width: 0;
    
}
.expense-list{
    scrollbar-width: none;
}